$default-font: "Montserrat";
$content-width: 1500px;
$mainColor: #484848;
$mainWeight: 300;
$mainSize: 20px;
:root {
  --site-color: linear-gradient(238.85deg, #080014 7.57%, rgba(32, 0, 85, 0) 99.98%), #050a07;
  --violet-color: #6b0988;
  --violet-hover: #c330c8;
  --violet-type-two: #8f45a5;
}
